<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>752705424022-446vbniosvj74va53bvrcd3v2pfe999r.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.752705424022-446vbniosvj74va53bvrcd3v2pfe999r</string>
	<key>API_KEY</key>
	<string>AIzaSyBlIC-Bq14McEtdxv8PRJ5lmjU1HXp_epE</string>
	<key>GCM_SENDER_ID</key>
	<string>752705424022</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterLogin</string>
	<key>PROJECT_ID</key>
	<string>pickmeup-2f26f</string>
	<key>STORAGE_BUCKET</key>
	<string>pickmeup-2f26f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:752705424022:ios:bc30fe685025a181aa10b7</string>
	<key>DATABASE_URL</key>
	<string>https://pickmeup-2f26f.firebaseio.com</string>
</dict>
</plist>
